.info-recipe-wrapper {
  margin-bottom: 64px;
}
.container {
}
.info-recipe {
display: flex;
align-items:center;
justify-content: space-between;
}

.info-recipe__heading {
  margin: 0;
font-weight: 600;
font-size: 64px;
color:$primaryColor;
letter-spacing: -4px;
margin-bottom: 50px;
}

.prepare-list {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
 gap: 32px;
}
.prepare-item {
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(0, 0, 0,0.1);
  padding-right: 25px;
gap: 20px;
     &:last-child{
      display: flex;
      align-items: center;
        height: 56px;
     }

     &:nth-child(2)::before{
      @include img-bf($img:url(/assets/icons/Timer.svg));
     }
     &:nth-child(3)::before{
      @include img-bf($img:url(/assets/icons/Timer.svg));
     }
}


.info-box-btn {
  display: flex;
  align-items: center;
  gap: 32px;

    span{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 80px;
      height: 110px;
         font-weight: 500;
         color:$primaryColor;

           &:nth-child(1) a{
             background-image:url(/assets/icons/icon-print.svg);
           }
           &:nth-child(2) a{
             background-image:url(/assets/icons/icon-share.svg);
           }
    }
}
.info-btn-2{
width: 80px;
height: 80px;
border-radius:100px;
background-color:$bg-card;
background-repeat:no-repeat;
background-position:center center;
}

.video-info{
  display: flex;
gap: 40px;
margin-bottom: 80px;
  p{
    text-align: center;
  }

}
.info-side {
  display: flex;
  flex-direction: column;
padding: 32px;
  width: 400px;
  border-radius:30px;
  background-color:$bg-card;
}
.info-side__heading {
  font-weight: 600;
  font-size: 24px;
  letter-spacing:-1px;
  color:$primaryColor;
  margin-bottom: 24px;
}
.info-side__list {
  display: flex;
  flex-direction:column;
  list-style: none;
gap: 16px;
  margin-bottom: auto;
}
.info-side__item {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
   border-bottom: 1px solid rgb(0, 0, 0,0.1);

    p{
      display: flex;
      width: 100%;
      justify-content: space-between;

      b{
        color:$primaryColor;
      }
    }
}